<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Adding icon to styles for the tab -->
  <link rel="icon" href="/images/icon.png">

  <title>Travel Bug</title>


  <!-- Custom styles for this template -->
  <link href="/css/carousel.css" rel="stylesheet">


  <!-- Tinymce Editor -->

    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


</head>

<body>
  {{!-- NavBar ------------------------------------------------------- --}}

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Travel Bug</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/browse-gallery">Browse Gallery</a>
          </li>
          {{#if username}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addArticle">Write your Article</a>
          </li>
          {{/if}}
        </ul>


        <ul class="nav navbar-nav navbar-right">
          {{#if username}}
          <li class="nav-item active">
            <a href="/profile"><img class="d-flex mr-3 rounded-circle" src="/avatar/{{avatar}}" width="50px" height="50px" alt="User picture">
              </a></li>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">
              <h5 style="color: white;">{{username}} &nbsp;</h5>
            </a>
          </li>
          <li class="nav-item active">
            <form class="form-inline mt-2 mt-md-0" action="/logout" method="GET">
              <button class="btn btn-lg btn-info" type="submit" formaction="/logout" formmethod="GET">Log Out</button>
            </form>
          </li>

          {{else}}


          <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loginModal">Log In</button>
          <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-lg btn-info" type="submit" formaction="/form" formmethod="GET">Sign Up</button>
          </form>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>

  {{!-- Carousel ------------------------------------------------------- --}} 
  {{#if home}}
  <main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="first-slide" src="/images/1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h2>“It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't keep your
                feet, there's no knowing where you might be swept off to.”</h2>
              <p>― J.R.R. Tolkien, The Lord of the Rings</p>
              <p><a class="btn btn-lg btn-primary" href="/form" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img class="second-slide" src="/images/2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>“Not all those who wander are lost.”</h2>
              <p>― J.R.R. Tolkien, The Fellowship of the Ring</p>
              {{#if username}}
              <p><a class="btn btn-lg btn-primary" href="/addArticle" role="button">Write your Article</a></p>
              {{else}}
              <p><a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#loginModal" role="button">Log In</a></p>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="/images/3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h2>“There is nothing like looking, if you want to find something. You certainly usually find something, if you
                look, but it is not always quite the something you were after.” </h2>
              <p>― J.R.R. Tolkien, The Hobbit</p>
              <p><a class="btn btn-lg btn-primary" href="/browse-gallery" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </main>
  {{/if}}

    {{!-- Login pop-up --}}
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:30px 30px;">

              <div class="imgcontainer">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <img src="/images/banner_login.png" style="max-height: 90%; max-width: 90%;" alt="Avatar" class="profile-img-card" />

              </div>



            </div>
            <div class="modal-body" style="padding:40px 50px;">
              {{#if loginFail}}
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p>You could not be logged in with that username or password.</p>
              </div>
              {{/if}}
              <form role="form" action="/login" method="POST">
                <label for="username1">Username</label>
                <div class="input-group">
                  <span class="input-group-addon" id="addonUsr">👨</span>
                  <input type="text" class="form-control" name="username" id="username1" placeholder="Username" aria-label="Username" aria-describedby="addonUsr">
                </div>
                <label for="password1">Password</label>
                <div class="input-group">
                  <span class="input-group-addon" id="addonPsw">🔒</span>
                  <input type="password" class="form-control" name="password" id="password1" placeholder="Password" aria-label="Password" aria-describedby="addonPsw">
                </div>
                </br>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"><span>👨</span> Login</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <p>Not a member? <a href="/form">Sign Up</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container marketing">
      {{{body}}}
    </div>

  </body>

</html>